a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #8fbe8a;
  text-decoration: none;
}
.banner {
  background-color: #00b38b;
  width: 100%;
  height: 390px;
}
.banner h3 {
  font-size: 30px;
  color: white;
  font-family: microsoft yahei;
  text-align: center;
}
.banner .it_content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.banner .it_content .swiper-container {
  width: 1015px;
  height: 265px;
  margin: 50px auto;
}
.banner .it_content .swiper-slide {
  height: 220px;
  width: 160px;
  background: #f1f1f1;
  color: #000;
  text-align: center;
}
.banner .it_content .swiper-slide figure {
  padding: 9px;
  width: 160px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 0 20px;
  background-color: #ccf0e8;
}
.banner .it_content .swiper-slide figure img {
  width: 142px;
  height: 142px;
  margin: 0 0 11px;
}
.banner .it_content .swiper-slide figure figcaption {
  width: 136px;
  line-height: 22px;
  font-family: microsoft yahei;
}
.banner .it_content .swiper-slide span {
  color: white;
  font-size: 16px;
}
.hover a {
  padding: 0 7px;
  display: inline-block;
  margin-right: 5px;
}
.hover a:hover {
  color: white;
}
.hover .title {
  font-weight: bold;
}
.content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  font-family: microsoft yahei;
}
.content .content_left .details {
  width: 960px;
  height: 110px;
  background-color: #fafafa;
  border: 1px #ededed solid;
  padding: 11px 0 0 24px;
}
.content .content_left .details a:hover {
  background-color: #00b38a;
}
.content .content_left .details .workcity {
  display: flex;
  width: 925px;
  line-height: 24px;
  position: relative;
}
.content .content_left .details .workcity div {
  margin: 0 0 8px;
}
.content .content_left .details .workcity div a:first-child {
  background-color: #00b38a;
  color: white;
  text-decoration: none;
}
.content .content_left .details .workcity .more {
  position: absolute;
  right: -5px;
  padding: 0 15px 0 0;
  background: url("../images/more.jpg") no-repeat center right;
}
.content .content_left .details .workcity:first-child a:nth-child(1) {
  background-color: transparent;
  color: black;
  text-decoration: none;
}
.content .content_left .details .workcity:first-child a:nth-child(2) {
  background-color: #00b38a;
  color: white;
  text-decoration: none;
}
.content .content_left .warpper {
  margin-top: 12px;
  width: 960px;
  height: 45px;
  background-color: #fafafa;
  border: 1px #ededed solid;
  line-height: 24px;
  padding: 10px 0 0 24px;
  position: relative;
}
.content .content_left .warpper input {
  position: absolute;
  right: 90px;
}
.content .content_left .warpper label {
  position: absolute;
  right: 14px;
  font-weight: normal;
}
.content .content_left .warpper a:first-of-type {
  background-color: #00b38a;
  color: white;
  text-decoration: none;
}
.content .content_left .company_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0 0;
  width: 960px;
}
.content .content_left .company_list section {
  width: 472px;
  height: 292px;
  border: 1px solid #ededed;
  position: relative;
  margin-bottom: 20px;
}
.content .content_left .company_list section:hover {
  border: 1px solid #8fbe8a;
}
.content .content_left .company_list section figure > a {
  float: left;
  margin: 28px 25px 21px 32px;
  border: 1px solid #ededed;
  width: 132px;
  height: 132px;
}
.content .content_left .company_list section figure > a img {
  width: 132px;
  height: 132px;
}
.content .content_left .company_list section figure figcaption {
  float: left;
  margin-top: 18px;
  font-weight: bolder;
}
.content .content_left .company_list section figure figcaption p span {
  color: #8fbe8a;
  margin-right: 12px;
}
.content .content_left .company_list section > p {
  margin-left: 33px;
}
.content .content_left .company_list section .company_state {
  position: absolute;
  width: 470px;
  height: 54px;
  line-height: 54px;
  background-color: #fafafa;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 30px;
  color: #a2a2a2;
  display: flex;
  justify-content: space-between;
}
.content .content_left .company_list section .company_state span {
  text-indent: 27px;
}
.content .content_left .company_list section .company_state span:nth-child(1) {
  background: url("../images/span_1.jpg") no-repeat left center;
}
.content .content_left .company_list section .company_state span:nth-child(2) {
  background: url("../images/type.jpg") no-repeat left center;
}
.content .content_left .company_list section .company_state span:nth-child(3) {
  background: url("../images/location.jpg") no-repeat left center;
}
.content .content_left .item_con_pager {
  text-align: center;
  margin: 40px 0 50px;
}
.content .content_left .item_con_pager span {
  margin: 0 5px;
}
.content .content_left .item_con_pager span:hover {
  background-color: #00b38a;
  color: white;
}
.content .content_left .item_con_pager .checked {
  background-color: #00b38a;
  color: white;
  font-weight: bold;
}
.content .content_right {
  width: 210px;
  height: 840px;
  border: 10px #fafafa solid;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.content .content_right figure {
  margin-top: 25px;
  text-align: center;
}
.content .content_right figure img {
  width: 105px;
  height: 105px;
  border: 1px #ededed solid;
}
body footer {
  width: 100%;
  height: 68px;
  border-top: 1px solid #ebebeb;
  background: url('../images/footer_final.png') no-repeat center 35px;
}
body footer .footer_content {
  margin-top: 8px;
  margin-left: 440px;
  text-indent: 220px;
  height: 24px;
  line-height: 24px;
  background: url('../images/footer01.png') no-repeat left center;
}
body footer .footer_content span {
  padding-right: 15px;
}
body footer .footer_content span:first-child {
  padding-right: 35px;
  background: url('../images/footer_new.png') no-repeat right center;
}
body footer .footer_content span:nth-child(2) {
  padding-left: 10px;
}
body footer .footer_content span a:hover {
  color: #00b38a;
}
