* {
    box-sizing: border-box;
}

.w {
    width: 1024px;
    margin: 0 auto;
}

body {
    width: 100%;
    font-family: "微软雅黑";
}

body header {
    width: 100%;
    height: 80px;
    background: url("../images/header_top.png") no-repeat left center;
    background-size: cover;
    position: relative;
}

body nav {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #333333;
}

body nav .top {
    width: 1288px;
    margin: 0 auto;
    height: 30px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}

body nav .top ul {
    display: flex;
    font-size: 14px;
}

body nav .top ul li:hover a {
    color: #fff;
}

body nav .top ul a {
    color: #bfbebe;
}

body nav .top ul:first-child li {
    padding: 0 13px 0 18px;
    line-height: 30px;
    background: url("../images/nav01.png") no-repeat right center;
}

body nav .top ul:first-child li:first-child {
    background: url("../images/nav03.png") no-repeat left center;
}

body nav .top ul:first-child li:first-child a {
    color: #08b85c;
}

body nav .top ul:first-child li:first-child:hover a {
    color: #08d79e;
}

body nav .top ul:first-child li:nth-child(2) {
    background: url("../images/nav01.png") no-repeat left center;
}

body nav .top ul:nth-child(2) li {
    padding: 0 16px;
    line-height: 30px;
    background: url("../images/nav01.png") no-repeat right center;
}

body nav .top ul:nth-child(2) li:last-child {
    width: 82px;
    background: url("../images/nav02.png") no-repeat right center;
}

body nav .under_user {
    width: 82px;
    height: 158px;
    background: #333333;
    position: absolute;
    right: 315px;
    top: 110px;
    font-size: 14px;
    display: none;
}

body nav .under_user li {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

body nav .under_user li a {
    color: #bfbebe;
}

body nav .under_user li:first-child {
    margin-top: 5px;
}

body nav .under_user li:hover {
    background-color: rgba(180, 186, 195, 0.81);
}

body nav .under_user li:hover a {
    color: #fff;
}

body #under_nav {
    width: 100%;
    height: 56px;
    line-height: 56px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

body #under_nav .nav {
    margin: auto;
    height: 54px;
    line-height: 54px;
    display: flex;
    justify-content: space-between;
}

body #under_nav .nav .left {
    width: 230px;
    height: 54px;
    display: flex;
}

body #under_nav .nav .left h1 {
    font-size: 0;
    width: 97px;
    height: 54px;
    background: url("../images/logo_1c5763c.png") no-repeat center center;
}

body #under_nav .nav .left p {
    height: 54px;
    padding-top: 6px;
    margin-left: 10px;
    font-size: 16px;
}

body #under_nav .nav .left p span {
    font-size: 13px;
    color: #999999;
}

body #under_nav .nav .left p:hover {
    cursor: pointer;
}

body #under_nav .nav .right {
    width: 748px;
    text-align: left;
    display: flex;
}

body #under_nav .nav .right li {
    padding-right: 35px;
}

body #under_nav .nav .right li a {
    text-decoration: none;
    color: #999999;
    display: inline-block;
    width: 46px;
    text-align: center;
    height: 54px;
}

body #under_nav .nav .right li a:hover {
    color: #000;
    border-bottom: 2px solid #00b38a;
}

body #under_nav .nav .right li .active {
    color: #000;
    border-bottom: 2px solid #00b38a;
}
